<!-- Header -->
<header id="formal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <span class="name">The Sunshine Feels</span>
                    <hr class="star-light">
                    <%= image_tag "banjo.jpg", class: "img-responsive", id: "hero" %>
                    <span class="skills">Bass, Drums, Guitar</span>
                </div>
            </div>
        </div>
    </div>
    <%= image_tag "drums.jpg", class: "img-responsive", id: "hero" %>

    <div class="" style="padding-bottom: 10px">

    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                <%= link_to post_path(post) do %>
                  <%= image_tag post.image(:medium), class: 'img-responsive' %>
                <% end %>
                </div>
            <% end %>
        </div>
    </div>
</section>

<!-- Sound Section -->
<section class="success" id="sunny">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Songs</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
            <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/160471912&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        </div>
    </div>
</section>

<section id="formal">
  <div class="container">
    <h3>Barracuda, Austin / August 10, 2017</h3>
    <iframe width="100%" height="600" src="https://www.youtube.com/embed/UV-zFPYOxBs" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section class="success" id="sunny">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Songs</h2>
                <hr class="star-primary">
            </div>
        </div>

        <div class="row">
          <iframe width="100%" height="1000" scrolling="no" frameborder="no" src="https://embed.spotify.com/?uri=spotify%3Aartist%3A498kdiM59fUpU0oPXP3FnC&view=coverart" frameborder="0" allowtransparency="true"></iframe>        </div>
        </div>

</section>

<!-- About Section -->
<section class="success" id="formal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <%= image_tag "austin.jpg", class: "img-responsive", id: "about" %>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>It all began by chance, in Austin, Texas, while Laura and Eric were working a New Year’s Eve gig, 2012. After some initial reluctance to ‘jam’, the two quickly became inseparable, and moved in together months later.

The Sunshine Feels formed in the summer of 2014. After Laura and Eric were married, an old high school friend who attended their wedding relayed that his former bandmate and friend, Douglas Bailey, had moved to Austin with his wife earlier that year.

Luckily, Eric had already met Douglas, some decades earlier, when he fronted the D.C. area band, The Ropers, with the high school friend on bass. Eric was always very fond of their band, and even thought of moving to D.C. for a moment when the Ropers lost their drummer…but it wasn’t to be.

Laura is a classically trained Contrabassist, who studied at Oberlin Conservatory and usually plays in regional orchestras. You can hear her extravagant bowing on some recorded songs. Eric claims to have never taken a drum lesson and has played in bands in Chapel Hill, Seattle and Olympia. Douglas has always played guitar since the dawn of time, and writes song, after song, after song. He has also played in D.C. bands “The Still”, “The Sounds of Kaleidoscope” and recorded a 7” with former members of Bikini Kill and Unrest as well as a stint with the ever-changing Lily’s.

Today, the trio have been practicing relentlessly, as Douglas brings in songs from every corner of the universe; Pop, shoegaze, psychedelic, fuzz, jangly country-rock.

They’re ready to play your party, and be your new favorite band on your preferred Walkman ™of choice.



</p>
            </div>
            <div class="col-lg-4">
                <!-- <p>Parties.</p> -->
            </div>

        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><%= mail_to "thesunshinefeels@gmail.com", "Contact Us", subject: "Hi! Please include your name and email address" %></h2><br>
                <hr class="star-primary">
            </div>
        </div>
        <%= image_tag "records.jpg", class: "img-responsive", id: "about" %>
</section>



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
